<p>add-donor works!</p>
<div class ="from-froup row">
    <label class="col-sm-2 col-from-label">Donor Name</label>
    <div class="col-sm-10">
        <input type="text" class="from-control" [(ngModel)]="DonorName"
        placeholder="Enter Donor Name">
    </div>

    <label class="col-sm-2 col-from-label">Donor Mobile</label>
    <div class="col-sm-10">
        <input type="text" class="from-control" [(ngModel)]="DonorMobile"
        placeholder="Enter Donor Mobile Number">
    </div>

    <label class="col-sm-2 col-from-label">Date of Joining</label>
    <div class="col-sm-10">
        <input type="date" [(ngModel)]="DateOfJoining">
    </div>

</div>

<button (click)="addDonor()" *ngIf="don.DonorId==0" class="btn btn-primary">
    Add
</button>


