<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right m-2"
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false"
>
  Registar Donor
</button>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ModelTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="closeClick()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-donor [don]="don" *ngIf="ActivateAddDonorComp">
        </app-add-donor>
      </div>
    </div>
  </div>
</div>




<table class ="table table-striped">
    <thead>
        <tr>
            <th>DonorId</th> 
            <th>DonorName</th>
            <th>DonorMobile</th>
            <th>DateOfJoining</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of DonorList">
            <td> {{dataItem.DonorId}}</td>
            <td> {{dataItem.DonorName}}</td>
            <td> {{dataItem.DonorMobile}}</td>
            <td> {{dataItem.DateOfJoining}}</td>
        </tr>
    </tbody>

</table>




